<% if (theme.gitalk.enable) { %>
  <div class="gitalk" id="gitalk-container"></div>
  <p style="color: #999; font-size: 12px; text-align: center;">
    第三方评论系统 -- Gitalk: 偶尔可能出现加载失败的情况, 您可以选择刷新或者前往 
    <a href="https://github.com/liguoyou/your/issues" target="_blank">issues</a>
    提交和查看评论
  </p>
  <%- css('https://unpkg.com/gitalk/dist/gitalk.css') %>
  <%- js('https://unpkg.com/gitalk/dist/gitalk.min.js') %>
  <%- js('https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js') %>
  <script type="text/javascript">
    var gitalk = new Gitalk({
      clientID: '<%- theme.gitalk.clientID %>',
      clientSecret: '<%- theme.gitalk.clientSecret %>',
      repo: '<%- theme.gitalk.repo %>',
      owner: '<%- theme.gitalk.owner %>',
      admin: ['<%- theme.gitalk.admin %>'],
      // id: location.pathname,      // Ensure uniqueness and length less than 50
      id: md5(location.pathname),
      distractionFreeMode: false,  // Facebook-like distraction free mode
      pagerDirection: 'last'
    })

  gitalk.render('gitalk-container')
  </script>
<% } %>